.ProgressBar {
  height: 5px;
  background: linear-gradient(
      var(--step-active-color),
      var(--step-active-color)
    )
    var(--step-not-active-color);

  background-size: 0;
  background-repeat: no-repeat;
  flex: 1;
  border-radius: 12px;
  transition: all 2s ease-in-out;

  &:first-child {
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
  }

  &:last-child {
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
  }

  &_isActive {
    background-size: 100%;
  }
}
